#TitleBar {
  text-align: center;
  height: 20px;
  width: 100%;
  line-height: 20px;
  font-size: 12px;
  font-weight: 400;
  background: rgb(60,60,60);
  -webkit-user-select: none;
  -webkit-app-region: drag
}
